{{!< index}}

<div class="feedback-form-left">
<form>
    <div class="feedback-form-left">
    <div class="form-left">
        <input type="text" id="fullName" name="fullName" placeholder="Name" required>
        <input type="tel" id="phone" name="phone" placeholder="Phone number" required>

    </div>
    <div class="form-left">
        <input type="email" id="email" name="email" placeholder="E-mail" required>
        <input type="text" id="company" name="company" placeholder="Company">
    </div>
   </div>
     <textarea id="question" name="question" rows="4" placeholder="Your question" required></textarea>
    <div class="left">
        <button type="submit">Submit</button>
    </div>
    
</form>
</div>

<div class="feedback-form-right">
<h1>Contact us!</h1>
<p>We're excited to hear from you and start working together to transform your business with data-driven technologies. Let SPRYGLE be your partner in navigating the digital landscape and achieving your business goals.</p>
<p>Write to us today – let's create something exceptional together!</p>
</div>